# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# AUTH SECRET
# Get one with `npx auth secret --raw`
AUTH_SECRET=""

# DATABASE_URL (MySQL) use this only if you use Prisma with MySQL.
# For docker-compose.yaml (default) this variable is not needed, but if you want to use docker-compose_mysql.yaml you need to set it.
# DATABASE_URL="mysql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>"
DATABASE_URL="sqlite:./db.sqlite"

# GOOGLE CONFIG (create one at https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


# Application Port (use something higher than the common values (0-1024) to avoid conflicts)
PORT = 4200

# On production set these two to same url (use PORT port too). Use the machine hostname instead of ip (e.g. https://c2r1p2.42firenze.it:4200)
# (default: http://localhost:4200 for dev, https://<BACKEND_URL> for prod)
BACKEND_URL = https://<BACKEND_URL>
# (default: http://localhost:42000 for dev, https://<FRONTEND_URL> for prod)
FRONTEND_URL = https://<FRONTEND_URL>
