@import "tailwindcss";
:root {
	--fade-out-duration: 0.25s;
}
img {
	max-width: unset;
}

.route-link, .fake-route-link {
	@apply flex flex-col items-center justify-center gap-1 cursor-pointer hover:bg-neutral-800;
}
.route-link.nav-route, .fake-route-link.nav-route {
	@apply p-4 min-w-10 sm:min-w-32;
}

.route-link.no-hover-bg:hover, .fake-route-link.no-hover-bg:hover {
	@apply bg-transparent;
}

.route-link.active {
	@apply text-emerald-500;
}

.toast-success {
	@apply bg-emerald-600;
}
.toast-error {
	@apply text-white bg-red-500;
}
.toast-info {
	@apply bg-blue-500;
}

.toast-warn {
	@apply text-black bg-yellow-500;
}

.fade-out {
	animation: fadeOut var(--fade-out-duration, 0.3s) linear;
	transition: opacity;
	opacity: 0;
}


@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


.horiz-divider {
	@apply w-full h-px my-2 bg-white/20;
}

.vert-divider {
	@apply w-px h-full mx-2 bg-white/20;
}
