@import "tailwindcss";

:root {
	--fade-out-duration: 0.25s;
}

img {
	max-width: unset;
}

.route-link,
.fake-route-link,
.nav-button {
	@apply flex flex-col items-center justify-center cursor-pointer hover:bg-black/40;
}

:is(.route-link, .fake-route-link) :not(i, img) {
	@apply grow min-w-0 items-center shrink-0;
}

.route-link.nav-route,
.fake-route-link.nav-route,
.nav-button.nav-route {
	@apply p-4 sm:px-4 py-2 min-w-10 sm:min-w-32;
}

:is(.route-link, .fake-route-link).no-hover-bgs:hover {
	@apply bg-transparent;
}

.route-link.active {
	@apply text-amber-400 bg-black/75;
}

:is(.route-link, .fake-route-link):is(:active, .focused) {
	@apply text-red-500 bg-black;
}

.toast-success {
	@apply bg-emerald-600;
}

.toast-error {
	@apply text-white bg-red-500;
}

.toast-info {
	@apply bg-blue-500;
}

.toast-warn {
	@apply text-black bg-yellow-500;
}

.fade-out {
	animation: fadeOut var(--fade-out-duration, 0.3s) linear;
	transition: opacity;
	opacity: 0;
}


@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
	background-color: rgb(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 0.125rem;
}


.horiz-divider {
	@apply w-full h-px my-2 bg-white/20;
}

.skeletonize * {
	@apply !bg-white/10 outline outline-black/50 hover:!outline-amber-500/30;
}


.friend-status-icon.friend-status-icon-online {
	@apply !bg-emerald-500;
}

.friend-status-icon.friend-status-icon-offline {
	@apply !bg-zinc-700;
}


/* PROGRESS CIRCLE */
.progress-circle {
	--percent: 75;
	/* fallback */
	--size: 64px;
	--track-color: #333;
	--fill-color: #4caf50;
	--bg-color: #111;
	--progress-width: 5px;

	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: conic-gradient(var(--fill-color) calc(var(--percent) * 1%),
			var(--track-color) 0);
	display: grid;
	place-items: center;
	position: relative;
}

.progress-circle::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(var(--size) - var(--progress-width) * 2);
	height: calc(var(--size) - var(--progress-width) * 2);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: var(--bg-color);
}

.progress-circle span {
	position: relative;
	z-index: 1;
	color: #fff;
	font-weight: bold;
	font-size: 0.9rem;
}


:is(.incomming-friend-requests-container, .sent-friend-requests-container):has(ul:not(:empty)):has(ul:not(.\!hidden)) {
	@apply md:basis-full;
}

:is(.incomming-friend-requests-container, .sent-friend-requests-container):has(ul:is(.\!hidden, :empty)) {
	@apply md:shrink-0;
}
